.imageRotation{
	height:270px;
	width:1010px;
	overflow:hidden;  /*--超出容器的所有元素都不可见--*/
	position:relative;  /*--相对定位--*/
	border:10px solid #eee;
	background-color:#eee;
	bodrer-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	}

.imageBox{
	position:absolute;  /*--固定定位--*/
	height:270px;
	top:0px;
	left:0px;
	overflow:hidden;
	}
.imageBox img {
	display:block;
	height:270px;
	width:1010px;
	float:left;
	border:none;
	}

.icoBox{
	position:absolute;  /*--固定定位--*/
	bottom:4px;
	left:500px;
	width:76px;
	height:12px;
	text-align:center;
	line-height:40px;
	}
.icoBox span{
	display:block;
	float:left;
	height:12px;
	width:12px;
	margin-left:3px;
	overflow:hidden;
	background:url("../images/ico.png") 0px 0px no-repeat;
	cursor:pointer;
	}
.icoBox span.active {
	background-position:0px -12px;
	cursor:default;
	}